@import 'tailwindcss';

body {
  color: var(--color-white);
  background: var(--color-slate-900);
}

h1 {
  font-size: 2rem;
}

button {
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background: var(--color-slate-800);
  padding: 8px 12px;
  border-radius: 12px;

  :first-child {
    margin-inline-end: auto;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--color-white);
  }

  :not(:first-child) {
    font-size: 1rem;
    line-height: 2;
    padding: 8px;
    background: var(--color-slate-700);
    border-radius: 4px;
  }
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px;
  font-weight: normal;
}

a, .button-as-a {
  border: none;
  text-decoration: none;
  color: var(--color-blue-400);
  transition: 0.4s;
  padding: 4px;
  cursor: pointer;
}

main {
  padding: 16px;
}
