@import 'tailwindcss';

button {
  cursor: pointer;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px;
  font-weight: normal;
}

a,
.button-as-a {
  border: none;
  text-decoration: none;
  color: var(--color-blue-400);
  transition: 0.4s;
  padding: 4px;
  cursor: pointer;
}
