@import 'tailwindcss';

button {
  cursor: pointer;
}

a,
.button-as-a {
  border: none;
  text-decoration: none;
  color: var(--color-blue-400);
  transition: 0.4s;
  padding: 4px;
  cursor: pointer;
}
